otspot.xml
hs_err_pid*
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
cmake-build-debug/
cmake-build-release/
out/
.gradle
build
.build-cache
config.properties
.idea
!lib/dev-kt-v1.3-SNAPSHOT.jar
!gradle/wrapper/gradle-wrapper.jar